image: gradle:8.10.0-jdk17-jammy

variables:
  # Sonar + Git settings
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  GIT_DEPTH: "0"

  # Optional Gradle cache dir
  GRADLE_USER_HOME: "${CI_PROJECT_DIR}/.gradle"

stages:
  - build-sonar

build-sonar:
  stage: build-sonar
  tags: []   # add your runner tags if needed
  cache:
    policy: pull-push
    key: "sonar-cache-$CI_COMMIT_REF_SLUG"
    paths:
      - "${SONAR_USER_HOME}/cache"
      - ".gradle/caches"
      - ".gradle/wrapper"
  before_script:
    - cd back-end
    - java -version
    - gradle --version
  script:
    # Run tests -> generate JaCoCo XML -> run Sonar analysis
    - gradle clean test jacocoTestReport sonar
  allow_failure: true  # keep or remove based on your policy
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == 'master'
    - if: $CI_COMMIT_BRANCH == 'main'
    - if: $CI_COMMIT_BRANCH == 'develop'
