variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

stages:
  - build
  - test
  - sonarqube-check

.before_java: &before_java
  before_script:
    - |
      $jdk = Get-ChildItem 'C:\Program Files\Eclipse Adoptium' -Directory -Filter 'jdk*' `
        | Sort-Object Name -Descending `
        | Select-Object -First 1 -ExpandProperty FullName
      if (-not $jdk) { throw "No JDK found under C:\Program Files\Eclipse Adoptium" }
      $env:JAVA_HOME = $jdk
      $env:Path = "$env:JAVA_HOME\bin;$env:Path"
      Write-Host "Using JAVA_HOME = $env:JAVA_HOME"
      java -version
      ./gradlew --version

build:
  stage: build
  <<: *before_java
  script:
    - ./gradlew assemble

test:
  stage: test
  <<: *before_java
  script:
    - ./gradlew test

sonarqube-check:
  stage: sonarqube-check
  <<: *before_java
  script:
    - echo "This is a demo stage replacing SonarQube analysis."

